/* Styles de base pour la navbar */
.navbar {
  background-color: #fff;
  color: #333;
  padding: 0 3rem;
  font-size: 1em;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 24vh;
  z-index: 3;
  color: #000;
  font-size: 1.5vh;
  line-height: normal;
  margin-top: 2vh;
}

.navbar::after {
  content: "";
  position: absolute;
  left: 3rem;
  /* Centrer la bordure */
  bottom: 0;
  width: 94vw;
  /* Largeur de la bordure */
  border-bottom: 1px solid #000;
  /* Style de la bordure */
}

.navbar.active {
  background-color: #555;
}

/* Wrapper pour le contenu de la navbar */
.wrapper {
  align-items: center;
}

/* Disposition de la partie supérieure de la navbar */
.top__wrapper {
  display: flex;
  align-items: baseline;
  width: 94vw;
}

.logo {
  display: flex;
  align-items: flex-start;
  margin-left: -1.5vw;
  margin-top: -1rem;
}

/* Styles pour le logo */
.logo img {
  /* Ajustez la largeur du logo */
  height: auto;
  width: 20%;
}

/* Styles pour le groupe de navigation et réseaux sociaux */
.nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94vw;
  margin-top: 1rem;
  font-size: 1.5em;
}

/* Styles pour le menu de navigation */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-menu__item {
  position: relative;
}

.nav-menu__link {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 0;
}

.textNavBar {
  color: black; /* Ensures the default color is used */
}

.textNavBar:hover {
  font-family: "Satoshi-LightItalic";
}

.nav-menu__account {
  color: #000;
  margin-left: auto;
}

.material-symbols-outlined {
  margin-right: 0.5rem;
}

/* Styles pour les icônes sociales */
.social-icons {
  display: flex;
  gap: 1rem;
  font-size: large;
}

.social-icon {
  color: gray;
  transition: color 0.3s;
}

.social-icon:hover {
  color: currentColor;
}

.social-icon .fa-pinterest:hover {
  color: #E60023;
}

.social-icon .fa-instagram:hover {
  color: #C13584;
}

.social-icon .fa-tiktok:hover {
  color: #000000;
}

.social-icon .fa-times:hover {
  color: #000000;
}

/* Styles de base pour la navbar */
.navbar {
  background-color: #fff;
  color: #333;
  padding: 0 3rem;
  font-size: 1em;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 24vh;
  z-index: 3;
  color: #000;
  font-size: 1.5vh;
  line-height: normal;
  margin-top: 2vh;
}

.navbar::after {
  content: "";
  position: absolute;
  left: 3rem;
  /* Centrer la bordure */
  bottom: 0;
  width: 94vw;
  /* Largeur de la bordure */
  border-bottom: 1px solid #000;
  /* Style de la bordure */
}

.navbar.active {
  background-color: #555;
}

/* Wrapper pour le contenu de la navbar */
.wrapper {
  align-items: center;
}

/* Disposition de la partie supérieure de la navbar */
.top__wrapper {
  display: flex;
  align-items: baseline;
  width: 94vw;
}

.logo {
  display: flex;
  align-items: flex-start;
  margin-left: -1.5vw;
  margin-top: -1rem;
}

/* Styles pour le logo */
.logo img {
  /* Ajustez la largeur du logo */
  height: auto;
  width: 20%;
}

/* Styles pour le groupe de navigation et réseaux sociaux */
.nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94vw;
  margin-top: 1rem;
  font-size: 1.5em;
}

/* Styles pour le menu de navigation */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-menu__item {
  position: relative;
}

.nav-menu__link {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 0;
}

.textNavBar {
  color: black; /* Ensures the default color is used */
}

.textNavBar:hover {
  font-family: "Satoshi-LightItalic";
}

.nav-menu__account {
  color: #000;
  margin-left: auto;
}

.material-symbols-outlined {
  margin-right: 0.5rem;
}

/* Styles pour les icônes sociales */
.social-icons {
  display: flex;
  gap: 1rem;
  font-size: large;
}

.social-icon {
  color: gray;
  transition: color 0.3s;
}

.social-icon:hover {
  color: currentColor;
}

.social-icon .fa-pinterest:hover {
  color: #E60023;
}

.social-icon .fa-instagram:hover {
  color: #C13584;
}

.social-icon .fa-tiktok:hover {
  color: #000000;
}

.social-icon .fa-times:hover {
  color: #000000;
}

@media (max-width: 920px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    background-color: #fff;
    z-index: 1500;
    overflow-y: auto; /* Allow scrolling if content overflows */
  }

  .navbar.active {
    transform: translateY(0);
  }

  .wrapper, .top__wrapper, .nav-group, .nav-menu {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 1rem 0;
  }

  .nav-menu {
    gap: 1rem;
    margin: 2rem 0; /* Spacing around nav menu */
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: large;
    margin-top: 2rem; /* Adjust to position below nav items */
  }

  .menu-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1600;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-toggle .burger {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: all 0.3s linear;
  }

  .menu {
    position: fixed;
    width: 200px;    
    right: 0;
    z-index: 1000;
  }
  
  #hamburger {
    display: none;
  }
  
  #hamburger-logo {
    cursor: pointer;
    width: 200px;
    display: block;
    color: black;
    background: transparent;
    text-align: right;
    transform: translateX(0);
    padding: 10px;
    font-size: 5vh;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;
    width: 200px;
    transform: translateX(100%);
    transition: 0.7s;
  }
  
  #hamburger:checked ~ #hamburger-logo,
  #hamburger:checked ~ nav {
    transform: translate(0);
    background-color: #000;
    color: white;
  }

  #hamburger:not(:checked) ~ nav {
    display: none;
  }
  
  #hamburger:checked ~ nav {
    display: flex;
  }
  
  nav a {
    background: white;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background: #444;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    background-color: #fff;
    z-index: 1500;
    overflow-y: auto; /* Allow scrolling if content overflows */
  }

  .navbar.active {
    transform: translateY(0);
  }

  .wrapper, .top__wrapper, .nav-group, .nav-menu {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 1rem 0;
  }

  .nav-menu {
    gap: 1rem;
    margin: 2rem 0; /* Spacing around nav menu */
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: large;
    margin-top: 2rem; /* Adjust to position below nav items */
  }

  .menu-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1600;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-toggle .burger {
    width: 2rem;
    height: 0.25rem;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s linear;
    transform-origin: 1px;
  }
}

@media (max-width: 480px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    background-color: #fff;
    z-index: 1500;
    overflow-y: auto; /* Allow scrolling if content overflows */
  }

  .navbar.active {
    transform: translateY(0);
  }

  .wrapper, .top__wrapper, .nav-group, .nav-menu {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 1rem 0;
  }

  .nav-menu {
    gap: 1rem;
    margin: 2rem 0; /* Spacing around nav menu */
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: large;
    margin-top: 2rem; /* Adjust to position below nav items */
  }

  .menu-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1600;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-toggle .burger {
    width: 100%;
    height: 4px;
    background-color: #000;
    margin: 5px 0;
  }
}